nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Cube Summation
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : null)
          a(href='/') Home
        li(class=(title == 'Cube Summation') ? 'active' : null)
          a(href='/summation') Cube Summation
