extends layout

block content
  .container
    .row
      .col-sm-12
        .panel
          .panel-body
            h3 Cube Summation
            
            p
              strong
                |Challenge published in: 
                a(href='https://www.hackerrank.com/challenges/cube-summation') https://www.hackerrank.com/challenges/cube-summation
            
            p You are given a 3-D Matrix in which each block contains 0 initially. The first block is defined by the coordinate (1,1,1) and the last block is defined by the coordinate (N,N,N). There are two types of queries.

            .well UPDATE x y z W
            
            p updates the value of block (x,y,z) to W.
            
            .well QUERY x1 y1 z1 x2 y2 z2
            
            p calculates the sum of the value of blocks whose x coordinate is between x1 and x2 (inclusive), y coordinate between y1 and y2 (inclusive) and z coordinate between z1 and z2 (inclusive).
            
            p 
              strong Input Format 
            
            p
              |The first line contains an integer T, the number of test-cases. T testcases follow. 
              |For each test case, the first line will contain two integers N and M separated by a single space. 
              |N defines the N * N * N matrix. 
              |M defines the number of operations. 
              |The next M lines will contain either
            
            .well
              |1. UPDATE x y z W
              br
              |2. QUERY  x1 y1 z1 x2 y2 z2
              
            p 
              strong Output Format 
            
            p Print the result for each QUERY.

            p
              strong Constrains
              
            p
              |1 <= T <= 50
              br
              |1 <= N <= 100
              br 
              |1 <= M <= 1000
              br 
              |1 <= x1 <= x2 <= N
              br 
              |1 <= y1 <= y2 <= N
              br 
              |1 <= z1 <= z2 <= N
              br 
              |1 <= x,y,z <= N
              br 
              |-109 <= W <= 109

            p
              strong Sample Input
            
            .well
              |2
              br
              |4 5
              br
              |UPDATE 2 2 2 4
              br
              |QUERY 1 1 1 3 3 3
              br
              |UPDATE 1 1 1 23
              br
              |QUERY 2 2 2 4 4 4
              br
              |QUERY 1 1 1 3 3 3
              br
              |2 4
              br
              |UPDATE 2 2 2 1
              br
              |QUERY 1 1 1 1 1 1
              br
              |QUERY 1 1 1 2 2 2
              br
              |QUERY 2 2 2 2 2 2

            p
              strong Sample Output
            
            .well
              |4
              br
              |4
              br
              |27
              br
              |0
              br
              |1
              br
              |1
            
            p
              strong Explanation
               
            p 
              |First test case, we are given a cube of 4 * 4 * 4 and 5 queries. Initially all the cells (1,1,1) to (4,4,4) are 0. 
            p
              |UPDATE 2 2 2 4 makes the cell (2,2,2) = 4 
            p
              |QUERY 1 1 1 3 3 3. As (2,2,2) is updated to 4 and the rest are all 0. The answer to this query is 4. 
            p
              |UPDATE 1 1 1 23. updates the cell (1,1,1) to 23. QUERY 2 2 2 4 4 4. Only the cell (1,1,1) and (2,2,2) are non-zero and (1,1,1) is not between (2,2,2) and (4,4,4). So, the answer is 4. 
            p
              |QUERY 1 1 1 3 3 3. 2 cells are non-zero and their sum is 23+4 = 27.
