extends layout

block content
  .container
    .panel
      .panel-heading
        h3.panel-title Cube Summation
      .panel-body
        .row
          .span12
            label.col-sm-2(for='t') T
            .col-sm-10
              input.input-mini(type='number', min='1', max='50', value='1', name='t', id='t', required=true)
        .row-fluid
          .span12#test-cases
        .row-fluid
          .span12
            .row
              .span6.well
                p 
                  strong
                    |Input
                textarea#ta_input(name="input", rows="15", cols="70", readonly)
            .row
              .span6
                p
                  button.btn.btn-success#btn_calculate(type="button")
                    |Calculate
              .span6.well
                p 
                  strong
                    |Output
                textarea#ta_output(name="output", rows="15", cols="70", readonly)
